:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* body { */
  /* margin: 0; */
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
/* } */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p{
  padding: 0px;
  margin: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  background-color: #ffa500;
  transition: border-color 0.25s;
  margin-top: 8px;
}
button:hover {
  border-color: #646cff;
  background-color: #a86d00;
  transition: 0.4s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.blog-list {
  list-style: none; /* Remove default list bullets */
  padding: 0; /* Remove default list padding */
  display: flex;
  flex-wrap: wrap;
}

.input-form {
  
  border: 1px solid #ccc; /* Add a border around each blog item */
  padding-right: 3px; /* Add padding to separate items */
  margin: 2px 0; /* Add margin to space out items */
  flex: 0 0 100%; /* By default, each item takes 100% width for small screens */
}
.blog-list-item{
  position: relative; /* to make it a relative container for absolute positioning */
  border: 1px solid #ccc; /* Add a border around each blog item */
  padding-right: 3px; /* Add padding to separate items */
  margin: 2px 0; /* Add margin to space out items */
  flex: 0 0 100%; /* By default, each item takes 100% width for small screens */

@media (min-width: 768px) {
  flex: 0 0 30%; /* For screens 768px or larger, each item takes 50% width */
}

@media (min-width: 1132px) {
  flex: 0 0 25%; /* For screens 992px or larger, each item takes 33.33% width */
}
}
.blog-image {
  max-width: 100%; 
  /* Set the maximum width of the image */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  border: 2px solid #ccc; /* Add a border to the image */
  border-radius: 6px; /* Apply a rounded border */

  &.large {
    max-width: 400px;
  }

  &.medium {
    max-width: 300px;
  }
}
.description-post{
background-color: #f4e1b8;
margin: 0px;
}

.heart-icon {
  width: 20px; /* Adjust the size of the heart icon */
  height: 20px; /* Adjust the size of the heart icon */
  background: url('https://res.cloudinary.com/dzghua4dz/image/upload/f_auto,q_auto/v1/project4mern/mneozk93coytdfqx2tf4') center/cover no-repeat; /* Use a heart icon image */
  background-color: #e8e0d3;
  padding: 3px;
  position: absolute; /* Position it absolutely within the .blog-list-item */
  top: 10px; /* Adjust the vertical position */
  right: 10px; /* Adjust the horizontal position */
  z-index: 1; /* Ensure the heart icon is above the image */
  opacity: 80%;
}

/* navbar.css */
.navbar {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 15px;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
  

}

.about, .posts, .register, .login { 
color: hsl(0, 0%, 100%); /* Link color */
font-size: 20px;
text-decoration: none; /* Remove underline from links */
margin: 0 10px; /* Add spacing between links */
transition: color 0.3s; /* Smooth color transition on hover */
}

.about:hover, .posts:hover, .register:hover, .login:hover{
  color: #ffa500; /* Change link color on hover */
}
.about:active, .posts:active, .register:active, .login:active {
  color: hsl(120, 100%, 50%); /* Change color when clicked */
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
