:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
margin-top: 75px;
/* display: flex; */
/* place-items: center; */
/* min-width: 320px; */
/* min-height: 100vh; */
}

/* h1 { */
/* font-size: 3.2em; */
/* line-height: 1.1; */
/* } */

.home-about-firstline {
  margin-top: 60px;
}

p,
h2,
h3,
h4 {
  padding: 0px;
  margin: 0px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  background-color: #ffa500;
  transition: border-color 0.25s;
  margin-top: 8px;
}
button:hover {
  border-color: #646cff;
  background-color: #a86d00;
  transition: 0.4s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.blog-list {
  list-style: none; /* Remove default list bullets */
  padding: 0; /* Remove default list padding */
  display: flex;
  flex-wrap: wrap;
}

.input-form {
  border: 1px solid #ccc; /* Add a border around each blog item */
  padding-right: 3px; /* Add padding to separate items */
  margin: 2px 0; /* Add margin to space out items */
  flex: 0 0 100%; /* By default, each item takes 100% width for small screens */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.blog-list-item {
  position: relative; /* to make it a relative container for absolute positioning */
  border: 1px solid #ffaaaa; /* Add a border around each blog item */
  /* padding-right: 2px; */
  /* padding: 2px;  */
  /* Add padding to separate items */
  /* margin: 2px 0;  */
  /* Add margin to space out items */
  flex: 0 0 100%; /* By default, each item takes 100% width for small screens */
  border-radius: 4px; /* Apply a rounded border */
  margin-bottom: 3px;

  @media (min-width: 768px) {
    flex: 0 0 30%; /* For screens 768px or larger, each item takes 50% width */
  }

  @media (min-width: 1132px) {
    flex: 0 0 25%; /* For screens 992px or larger, each item takes 33.33% width */
  }
}
.blog-image {
  max-width: 100%;
  /* Set the maximum width of the image */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
  /* border: 1px solid #ccc;  */
  /* Add a border to the image */
  border-radius: 4px; /* Apply a rounded border */
  vertical-align: top;

  &.large {
    max-width: 400px;
  }

  &.medium {
    max-width: 300px;
  }
}
.description-post {
  background-color: #0004ff;
  color: #ffffff;
  margin: 0px;
  padding: 0;
  font-size: 12px;
  border-radius: 4px; /* Apply a rounded border */
}
.zoom-container {
  max-width: 100%;
  /* width: 200px;  */
  /* Set the width and height of your container */
  /* height: 200px; */
  overflow: hidden; /* Hide the overflow */
}
.zoom-image {
  transition: transform 0.3s; /* Add a smooth transition effect */
}

.zoom-container:hover .zoom-image {
  transform: scale(
    1.2
  ); /* Scale the image up to 120% on hover, relative to its container */
}

.heart-icon {
  width: 20px; /* Adjust the size of the heart icon */
  height: 20px; /* Adjust the size of the heart icon */
  /* background: url('https://res.cloudinary.com/dzghua4dz/image/upload/v1698834043/project4mern/epmegfonsab1egutezpz.png')  */
  /* center/cover no-repeat; */
  /* Use a heart icon image */
  background-color: #e8e0d3;
  padding: 8px;
  position: absolute; /* Position it absolutely within the .blog-list-item */
  top: 10px; /* Adjust the vertical position */
  right: 10px; /* Adjust the horizontal position */
  z-index: 1; /* Ensure the heart icon is above the image */
  opacity: 60%;
  border-radius: 20px;
}
.heart-icon-button {
  width: 14px; /* Adjust the size of the heart icon */
  height: 14px; /* Adjust the size of the heart icon */
  background: url("https://res.cloudinary.com/dzghua4dz/image/upload/v1698834043/project4mern/epmegfonsab1egutezpz.png")
    center/cover no-repeat;
  /* Use a heart icon image */
  background-color: #e8e0d3;
  padding: 8px;
  position: absolute; /* Position it absolutely within the .blog-list-item */
  top: 10px; /* Adjust the vertical position */
  right: 10px; /* Adjust the horizontal position */
  z-index: 1; /* Ensure the heart icon is above the image */
  /* opacity: 60%; */
  border-radius: 20px;
}

.update-blog-post {
  width: 5px; /* Adjust the size of the heart icon */
  height: 5px; /* Adjust the size of the heart icon */
  background: url("https://res.cloudinary.com/dzghua4dz/image/upload/v1699009757/siqf7vmefhzjsepd1jes.png")
    center/cover no-repeat;
  /* Use a heart icon image */
  background-color: #e8e0d3;
  padding: 8px;
  position: absolute; /* Position it absolutely within the .blog-list-item */
  top: 16px; /* Adjust the vertical position */
  right: 35px; /* Adjust the horizontal position */
  z-index: 1; /* Ensure the heart icon is above the image */
  /* opacity: 60%; */
  border-radius: 20px;
}

.delete-blog-post {
  width: 5px; /* Adjust the size of the heart icon */
  height: 5px; /* Adjust the size of the heart icon */
  background: url("https://res.cloudinary.com/dzghua4dz/image/upload/v1699009928/hg6peuj1rynjbijjix0w.png")
    center/cover no-repeat;
  /* Use a heart icon image */
  background-color: #e8e0d3;
  padding: 8px;
  position: absolute; /* Position it absolutely within the .blog-list-item */
  top: 16px; /* Adjust the vertical position */
  right: 65px; /* Adjust the horizontal position */
  z-index: 1; /* Ensure the heart icon is above the image */
  /* opacity: 60%; */
  border-radius: 20px;
}
.delete-blog{
  background-color: red;
}

/* Modal container */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Open the modal */
.modal.open {
  display: block;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Modal header */
.modal-content h2 {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  text-align: center;
}

/* Modal form input */
.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Modal buttons */
.modal-content button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Close button */
.modal-content button:last-child {
  background-color: #ccc;
}

/* Close button on hover */
.modal-content button:last-child:hover {
  background-color: #999;
}

/* 
for delete button
https://res.cloudinary.com/dzghua4dz/image/upload/v1699009928/hg6peuj1rynjbijjix0w.png
*/

/* navbar.css */
.navbar {
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  padding: 15px;
  margin-top: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.about,
.posts,
.register,
.login,
.profile {
  color: hsl(0, 0%, 100%); /* Link color */
  font-size: 20px;
  text-decoration: none; /* Remove underline from links */
  margin: 0 10px; /* Add spacing between links */
  transition: color 0.3s; /* Smooth color transition on hover */
}

.about:hover,
.posts:hover,
.register:hover,
.login:hover,
.profile:hover {
  color: #ffa500; /* Change link color on hover */
}
.about:active,
.posts:active,
.register:active,
.login:active,
.profile:active {
  color: hsl(120, 100%, 50%); /* Change color when clicked */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    /* background-color: #f9f9f9; */
  }
}
